<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicon.ico" />
    <title>Express Server | REST API</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/style.css"
    />
  </head>

  <body>
    <div class="container">
      <img src="/images/full-logo.png" alt="Company logo" class="logo" />

      <h2>Welcome to the REST API services.</h2>

      <div>
        <img src="/images/welcome.gif" alt="Welcome image" class="welcome" />
      </div>
    </div>
  </body>
</html>
